# Ignore object files 
*.o

# Ignore swap files 
*.swp
*.swo

# Ignore langserver cache
.ccls-cache/

# Ignore the interpreter binary
lox

# Ignore log files
*.log
logs/

# Ignore any files with the extension *.out (eg: valgrind dumps, etc)
*.out

# Ignore core dumps
vgcore*
